/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabLabel {
  user-select: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
body {
  font: 14px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 5px 15px 15px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 4px 0;
  border-top: 1px solid #ccc;
}

.optimizer-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.constraints-panel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: 5px;
}

.tab {
  height: 94%;
}

.gearPreviewButton {
  width: 140px;
}

.optimization-results-panel {
  flex-grow: 2;
  min-height: 250px;
  height: 100%;
  display: flex;
}

#myGrid {
  height: 100%;
  flex-grow: 2;
  min-width: 700px;
}

.optimizer-equipped-section {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 210px;
  margin-top: 10px;
}

.optimizerActionButtons {
  /*flex-grow: 1;*/
  display: flex;
  flex-direction: column;

    align-self: flex-end;
    padding-bottom: 10px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}
.optimizerActionButtonsRow {
  display: flex;
  flex-direction: row;
}

label {
  display: inline;
  vertical-align: middle;
}
input {
  vertical-align: middle;
}

.constraints-panel-col {
  padding: 5px 8px 5px 8px;
  width: 200px;
  flex-grow: 1;
  line-height: 14px;
}

.constraints-panel-col-small {
  padding: 5px 8px 5px 8px;
  width: 150px;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 14px;
}

.constraints-left-panel {
  min-width: 130px;
  width: 150px;
}

.gear-preview-panel {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.gear-preview-col {
  display: flex;
  flex-direction: column;
}

#buttonSpace {
  width: 20px;
      height: 5px;
  display: inline-block;
}

.gear-preview-row {
  padding: 0px 27px 5px;
  margin-top: 5px;
  font-size: 13px;
  width: 165px;
  height: 195px;
}

.tab {
  display: flex;
  flex-direction: row;
}
.
/*
 Demo purposes only
*/

#ocr-test-input-url {
  width: 500px;
}

#exportOutputText {
  width: 75%;
  height: 100px;
}

#example-table .tabulator-row {

}

.tabulator-col {
  font-size: 10px;
}

.tabulator-arrow {
  display: none !important;
}

.tabulator-col-title {
  white-space: nowrap !important;
  overflow: visible !important;
}

#heroes-equipped-section {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 200px;
}

.heroes-equipped-item {
  width: 150px;
  padding: 10px 15px;
}

.optimizer-number-input {
  height: 18px;
  /*min-width: 50px;
  max-width: 60px;*/
  width: 50px;
}

.inputStatLabel {
  font-size:12px;
  display: inline-block;
  width: 35px;
  text-align: center;

}

.sliderLabel {
  font-size:12px;
  display: inline-block;
  width: 35px;
}

.sliderInput {
  width: 30px;
  text-align: center;
  margin-right: 5px;
}

.sliderContainer {
  width: 60%;
  display:inline-block;
  margin: auto;
  height: 16.5px;
}

.gearTypeImg {
  width: 33px;
  height: 33px;
      /*border: solid 1px red;*/
      border-radius: 8px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.itemDisplayHeader {
  display: flex;
  flex-direction: row;
  height:30px;
}

.itemDisplayHeaderData {
  display: flex;
  flex-direction: column;
  width: 65px;
  line-height: 16px;
  padding: 0px 5px;
}

.itemDisplayHeaderDataTop {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
}

.itemDisplayGearRank {
  font-weight: 700;
}

.itemDisplayEquippedHero {
  /*width: 45px;*/
  height: 45px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.itemDisplayMainStat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px;
  border-bottom: solid 1px;
  margin-top: 12px;
  padding-top: 5px;
  padding-bottom: 4px;
  /* height: 16px; */
  font-size: 14px;
  font-weight: 600;
}
.itemDisplaySubstats {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  padding-top: 2px;
  padding-bottom: 4px;
  height: 80px;
}
.itemDisplaySubstat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 22px;
}

.itemDisplayFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 4px;
}

.vertical {
  border-left: 1px solid #e8e8e8;
  height: 90%;
  margin-top: 15px;
}

.shortVertical {
  border-left: 1px solid #e8e8e8;
  height: 65%;
  margin-top: 15px;
}

.horizontalSpace {
  height: 5px;
}

.itemDisplayFooterSet {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.itemDisplaySetImg {
  /*width: 25px;*/
  margin-top: 3px;
  height: 25px;
}
.itemDisplayLockImg {
  /*width: 25px;*/
  margin-top: 3px;
  height: 25px;
  margin-right: 16px;
  opacity: 0.6;
}
.itemDisplaySetType {
  font-size: 13px;
  font-weight: 600;
  padding-left: 7px;
    margin-top: auto;
    margin-bottom: auto;
}
.ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell {
  padding-left: 2px;
  padding-right: 2px;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  /*letter-spacing: -0.5px;*/
  text-align: center;
}
.ag-header-cell-text {
  text-overflow: clip;
}
.ag-header-cell-label, .ag-header-group-cell-label {
  justify-content: space-around;
  text-overflow: clip;
}
.ag-theme-balham .ag-icon {
  font-size: 14px;
  font-weight: 800;
}
.ag-cell-value {
  font-weight: 400;
  text-align: center;
  /*font-family: Helvetica Neue,Helvetica,Arial,sans-serif;*/
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.gear-preview-panel-wrapper {
  display:flex;
  flex-direction: column;
}

.gearPreviewActions {
  padding-left: 40px
}

.image {
  width: 40px;
  height: 40px;
}

.onImage {
  opacity: 1 !important;
}

.offImage {
  opacity: 0.5 !important;
}

.imageLabel {
  display: none !important;
}
.pretty.p-toggle .state.p-on {
  background: gray !important;
  border-radius: 10%;
}

.inputSetFilterSelect {
  min-width: 200px;
  width: 100%;
  user-select: none;
    padding: 1px;
    height: 26px;
}

.inputGearFilterSelect {
  min-width: 200px;
  width: 100%;
  user-select: none;
    padding: 1px;
    height: 26px;
}

.ms-choice>div.icon-close:before {
  font-size: 24px;
  font-weight: 900;
}

/* Disable arrows on number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.optimizerSetIcon {
  height: 29px;
  vertical-align: middle;
}

.heroIcon {
  height: 50px;
}

.editGearFormRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.editGearStatLabel {
  width: 100px;
  text-align: left;
}

.editGearStatSelect {
  width: 150px;
  margin-right: 5px;
}

.editGearStatNumber {
  width: 80px;
}

/*https://stackoverflow.com/questions/50862009/how-to-disable-selection-of-cells-in-ag-grid*/

.ag-cell-focus,.ag-cell-no-focus{
  border:none !important;
}
/* This CSS is to not apply the border for the column having 'no-border' class */
.no-border.ag-cell:focus{
  border:none !important;
  outline: none;
}

.ag-floating-top {
  border-bottom: solid #cecece 3px !important;
}

.valuePadding {
  border: 1px inset #ccc;
  font-size: 15px;
  height: 100%;
}
.valuePadding input {
  border: none;
  padding: 0px;
  outline: none;
  height: 20px;
}
.blankFormSpace {
  width: 40px;
}

.input-holder {
  border: 1px solid black;
  display: inline-block;
}
.input-holder > input {
  border: 0;
  margin: 0;
  padding: 0;
  outline:none;
}

.input-holder-percent {
  border: 1px solid black;
  display: inline-block;
}
.input-holder-percent > input {
  border: 0;
  margin: 0;
  padding: 0;
  outline:none;
}
.input-holder-percent:after {
  content: '%';
}
.bonusStatInput {
  height: 100%;
  text-align: left;
  padding-left: 4px !important;
  width: 70px !important;
}
.bonusStatInputPercent {
  height: 100%;
  text-align: left;
  padding-left: 4px !important;
  width: 55px !important;
}

.gridLeftPanel {
  width: 165px;
}

.gridRightPanel {
  width: 325px;
  display: flex;
  flex-direction: row;
}
.panelLabel {
  line-height: 21px;
  display:flex;
  flex-direction: row;
}

.ms-drop ul>li {
    line-height: 24px;
    padding: 0px 8px;
}

.ms-drop ul>li.hide-radio label {
    padding: 0px 8px;
}
#stat-priority-panel {
    min-width: 220px;
}
.constraints-right-panel {
  width: 307px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  /*position: relative;*/
  justify-content: space-between;
  flex-direction: column;
}
.inputHeroImage {
  padding-top: 5px;
  /*width: 100px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 0px;
  right: -15px;
}
.inputHeroImageContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100px;
}
.checkbox {
    width: 18px;
    height: 18px;
}
.leftRightText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 22px;
}
.leftRightTextContent {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    font-size: 1em;
    font-weight: 400;
}
.heroesTabButtonRow {
  padding-top: 10px;
  padding-bottom: 15px;
}
.tooltipImage {
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7px;
  opacity: 0.5;
}
.itemPreviewCheckbox {
  height: 18px;
  width: 18px;
}
.itemDisplayFooterIconContainer {
    display: flex;
    align-items: center;

}
.itemDisplayEditImg {
    height: 21px;
    padding-right: 5px;
    opacity: 0.6;
}